header {
	display: flex;
	padding: 20px;
	padding-bottom: 0px;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		nav {
			ul {
				display: flex;
				gap: 30px;
				list-style: none;
				flex-wrap: wrap;

				li {
					font-size: clamp(14px, 2vw, 24px);
					font-weight: 500;
					color: black;

					&.active a {
						.nav-link-hitbox {
							text-decoration: underline;
						}
					}
				}
			}
		}

		@media screen and (max-width: $phone) {
			.logo {
				max-width: 140px;
			}
			nav ul {
				gap: 10px;
				justify-content: center;
			}

			nav ul li {
				text-transform: uppercase;
			}
		}
	}
	.nav-link-hitbox {
		display: inline-block;
		padding: 15px 5px;
	}
}
