.housingPage {
	padding-top: 60px;
	color: $primary-color;
	.logementCover {
		border-radius: 20px;
		height: 300px;
		width: 100%;
		object-fit: cover;
	}
	.general {
		padding-top: 30px;
		gap: 20%;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: $tablette) {
			padding-top: 10px;
			flex-direction: column;
			gap: 20px;
		}
		.housingInfos {
			h1 {
				font-weight: 500;
				& + p {
					font-size: clamp(1rem, -0.875rem + 8vw, 1.5rem);
					color: black;
					margin-bottom: 20px;
				}
			}
			.tags {
				display: flex;
				gap: 10px;
				flex-wrap: wrap;
				list-style: none;
				li {
					color: white;
					font-size: 14px;
					background: $primary-color;
					padding: 1% 4%;
					border-radius: $item-radius;
					font-weight: 500;
				}
			}
		}
		.otherInfos {
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			@media screen and (max-width: $tablette) {
				flex-direction: row;
				gap: 20px;
				flex-wrap: wrap;
			}
			.host {
				display: flex;
				align-items: center;
				gap: 10px;
				margin-bottom: 24px;
				order: 2;
				flex-direction: row-reverse;
				p {
					font-size: 18px;
					font-weight: 500;
					text-align: right;
					max-width: 90px;
				}
				img {
					border-radius: 50%;
					max-width: 64px;
				}
			}
			.rating {
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media screen and (max-width: $tablette) {
					flex-wrap: wrap;
				}
				.star {
					display: inline-block;
					margin: 0 2px;
					font-size: 24px;
					border-radius: 20px;

					&.red {
						color: $primary-color;
					}

					&.grey {
						color: #dbdbdb;
					}
				}
			}
		}
	}
}
